.header {
  width: 100%;
  height: 75px;
  background-color: var(--background-color-secondary);
  border-bottom: 2px solid var(--border-color);

  a {
    text-decoration: none;
  }

  .container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;

    .logoContainer {
      box-sizing: border-box;
      float: left;
      padding: 20px 0;
      width: 175px;
      height: 100%;

      .logo {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }
  }
}
